Bangkit stuff/model.h5
Bangkit stuff/output.png
Bangkit stuff/model.keras
gen_ai/ComfyUI
Bangkit stuff/.env
Bangkit stuff/Fruits-and-Vegetables-1/
Bangkit stuff/yolo11l.pt
Bangkit stuff/yolo11n.pt
Bangkit stuff/fruits-and-vegetables-17y0t/yolov11l/args.yaml
Bangkit stuff/fruits-and-vegetables-17y0t/
Bangkit stuff/runs/
gen_ai/ComfyUI
