Bangkit stuff/model.h5
Bangkit stuff/output.png
Bangkit stuff/model.keras
gen_ai/ComfyUI
Bangkit stuff/.env
Bangkit stuff/Fruits-and-Vegetables-1/
Bangkit stuff/yolo11l.pt
Bangkit stuff/yolo11n.pt
Bangkit stuff/runs
Bangkit stuff/wandb
gen_ai/ComfyUI
Bangkit stuff/.venv
Bangkit stuff/food-detection-5
Bangkit stuff/scan-detection
.venv
Bangkit stuff/Apple.keras
Bangkit stuff/banana.keras
Bangkit stuff/cabbage.keras
Bangkit stuff/capsicum.keras
Bangkit stuff/tomato.keras
